<div class="breadcrumb">
<span class="first {% if current == 'index' %} active{% endif %}"><a href="">Poster Home</a></span>
<span class="arrow">&nbsp;</span>
<span class="{% if current == 'preview' %} active{% endif %}"><a href="preview">Preview & Edit</a></span>
</div>  
<div class="clearfix"></div>
