{% extends 'LobamaSocial2PrintBundle::layout.html.twig' %}

{% block body %}
<div class="options">
<form action="loading">
<fieldset>
<legend>Style:</legend>
<input type="radio" name="style" value="classic" checked="true" /> Classic <br />
<input type="radio" name="style" value="polaroid" disabled="disabled" /> Polaroid <br />
<input type="radio" name="style" value="monochrome" disabled="disabled" /> Monochrome <br/>
<input type="radio" name="style" value="retro" disabled="disabled" /> Retro <br />
</fieldset>
<input type="submit" name="submit" value="Submit" />
<fieldset>
<legend>Size:</legend>
<input type="radio" name="size" value="gridPhoto54" checked="true" /> 54 Photos <br />
<input type="radio" name="size" value="gridPhoto108" /> 108 Photos
</fieldset>
</form>
</div>


{% endblock %}
